* {
    background-color: #121212;
    text-decoration: none;
}

header img {
    width: 100px;
    height: 100px;
    display: inline-block;
    overflow: auto;
    float: left;
}

header h1 {
    color: aliceblue;
    position: relative;
    display: inline-block;
    overflow: auto;
    float: left;
    padding-top: 10px;
}

nav {
    list-style-type: none;
    color: aliceblue;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

nav li {
    display: inline;
    float: right;
    padding-top: 10px;
}

nav li a {
    padding: 8px;
    color: aliceblue;
}

li a:hover {
    background-color: #242323;
}